.root{
    -fx-background-color: white;
}
.button{
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-background-color: #e9e9e9;
    -fx-gap-start-and-end: 4px;
}


@font-face{
    src: url("font/NotoSansCJK.ttc");
}


.label {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 20;
}

.button{
    -fx-font-family: "Noto Sans CJK SC";
}